body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
img {
    width: 480px;
    height: 320px;
    border: 2px solid black;
}
#text-output {
    margin-top: 10px;
    font-size: 18px;
    color: green;
}
#capture-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#english { 
    font-size: 18px; 
    color: green; 
    margin-top: 10px; 
}

#braille { 
    font-size: 18px; 
    color: red; 
    margin-top: 10px; 
}

button { 
    margin-top: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
}